<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= form_for :student, :url => raise_error_when_no_courses_assigned_student_path(params[:id]) do |assign| %>

  <p>
    <strong>Name :</strong>
    <%= @student.name %>
  </p>
  <p>
    <strong>Age :</strong>
    <%= @student.age %>
  </p>
  <p>
    <strong>Address :</strong>
    <%= @student.address %>
  </p>

  <p>
    <strong>Assign Courses To </strong>
    <%= @student.name %>
  </p>

  <% for course in Course.find(:all) %>

  <%  if course.user_id == current_user.id %>
    <div>
      <%= check_box_tag "student[course_ids][]", course.id,
        @student.courses.include?(course) %>
      <%= course.name %>
    </div>

  <% end %>

  <% end %>

  <p><%= assign.submit %></p>

<% end %>