<h1>Students Record </h1>

<p>
  You are logged in as
  <strong><%= current_user.username%></strong>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
  </tr>
  <% for student in @students %>
    
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.address %></td>

        <td><%= link_to "Show", student %> | </td>

        <%  if student.user_id == current_user.id %>
        
        <td><%= link_to "Assign Course", assign_course_student_path(student) %> |
       <%= link_to "Edit", edit_student_path(student) %> |
       <%= link_to "Destroy", student, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>
<%= link_to "Add New Student", new_student_path %> |
<%= link_to "Add New Course", new_course_path %> |
</p>



