<h1>Courses List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>
  <% for course in @courses %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.code %></td>
      <td><%= link_to "Show", course %></td>
      <td><%= link_to "Edit", edit_course_path(course) %></td>
      <td><%= link_to "Destroy", course, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Course", new_course_path %></p>

<p><%= link_to "List of Students", students_path %></p>
